// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-splash-background {
  background-repeat: no-repeat;
  background: image_url("session-form-background-image.jpg");
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;

}
.session-form > h2 {
  color: white;
  font-size: 30px;


}

::placeholder { 
  color: rgb(116, 113, 113);
}

.session-form {
  background-color: rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  margin-top: 100px;
  padding-top:40px;
  padding-bottom: 90px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: 'Poppins',
    sans-serif;
  justify-content: center;
  align-content: center;


}


.session-form-input {
    position: relative;
    width: 100%;
    padding: 12px 15px;
    margin: -5px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #494848;
    color: white;
    border: none;

}

.session-form-submit-button {
  background-color: #e50914;
  border-radius: 4px;
  color: white;
  padding: 13px 0px 37px 0px;
  text-decoration: none;
  margin: 4px 2px;
  margin-top: 8px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: large;
  border: none;

}

.session-form-demo-user-button {
  background-color: #5e1d1d;
  border-radius: 4px;
  color: white;
  padding: 13px 0px 37px 0px;
  text-decoration: none;
  margin: 8px 2px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: large;
  border: none;
  margin-top: -20px;

}

.linkToSignUpLogin {
  color: rgb(116, 114, 114);
}


.errors-list {
  color: white;
  padding: 20px;
  font-size: small;
}

.session-logo {
  content: image_url("petflix-logo1.png");
  margin-left: 5%;
  width: 150px;
  height: 65px;
  margin-top: 20px;
  background:transparent;
  position: absolute;
  left: 0px;
  cursor: pointer;

}