html,body,div,span,h1,h2,h3,h4,a,ol,ul,li,form,label,article,
aside,figure,figcaption,footer,header,nav,input,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 
  
}

input:focus {
  outline: none;
}

body {
  background: black;
  color: white;
}