/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.session-form {
  background: black;
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 25px auto;
  padding: 40px 35px;
  font-family: 'Poppins',
  sans-serif;
}

.session-form > h2 {
  color: white;
}

 .session-form-input {
     position: relative;
     width: 70%;
     padding: 12px 15px;
     margin: 5px 0;
     box-sizing: border-box;
     border-radius: 4px;
     background-color: grey;
     color: white;
     font-size: large
     
 }

 .session-form-submit {
     background-color: #e50914;
     border-radius: 4px;
     color: white;
     padding: 16px 16px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     width: 70%;
 }