.genre-text {
  font-size: 1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 48px;
}

.browse-overall {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(54, 54, 54));
}