.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin-top: 160px;
  margin-left: 40px;
  margin-bottom: 100px;
  align-content: center;
}


.list {
    width: 300px;
    height: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(78, 78, 78); 
}

.my-lists {
  margin-left: 40px;
  font-family: Arial,
  Helvetica,
  sans-serif;
  font-size: 40px;
  position: absolute;
  margin-top: 80px;
}



// =========MODAL==========================

// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

.title-input {
  position: relative;
  width: 100%;
  padding: 12px 15px;
  margin: -5px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #b6b6b667;
  color: rgb(0, 0, 0);
  border: none;
}


.modal-container {
  //margin: 60px auto;
  padding-top: 0px;
  position: relative;
  width: 160px;


  .modal-btn {

    border-color: white;
    width: 300px;
    border-style: dashed;
    height: 300px;
    background: rgba(255, 50, 50, 0.651);
    line-height: 12;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #cbcbcb30;
    font-size: 22px;
    border-width: 1px;
    
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;

    &:hover {
      background: rgba(221, 54, 54, 0.801);
    }
  }

  .modal-content,
  .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }

  .create-list {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:15px;
  }

  .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }


  .modal-content-btn {
    // position: absolute;
    // text-align: center;
    // cursor: pointer;
    // bottom: 20px;
    // right: 30px;
    
    // background: rgb(122, 122, 122);
    // color: #fff;
    // width: 100%;
    // border-radius: 2px;
    // font-size: 14px;
    // height: 32px;
    // padding-top: 9px;
    // font-weight: normal;


      position: relative;
      width: 100%;
      padding: 12px 15px;
      margin-top:15px;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #b6b6b667;
      color: rgb(0, 0, 0);
      border: none;




    &:hover {
      color: #fff;
      background: rgba(221, 54, 54, 0.801);
      cursor: pointer;
    }
  }

  #modal-toggle {
    display: none;

    &.active~.modal-backdrop,
    &:checked~.modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }

    &.active~.modal-content,
    &:checked~.modal-content {
      opacity: 1;
      background-color: #fff;
      max-width: 400px;
      width: 400px;
      height: 160px;
      padding: 10px 30px;
      position: fixed;
      left: calc(50% - 200px);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

      @media (max-width: 400px) {
        left: 0;
      }
    }
  }
}