.main-movie {
  height: 600px;
  display:flex;
  margin-bottom:15px;  

}
.main-movie-thumb {

  content:url('https://s3-us-west-1.amazonaws.com/petflix-public/main-movie-thumb.gif2.gif');
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;

}







.pup-fiction-text {
    position: absolute;
    top: 285px;
    left: 10%;
    color: white;
    font-size: 84px;
    padding: 12px 24px;
    font-family: 'Abril Fatface';
  
}

.play-main-movie {
    position: absolute;
    top: 435px;
    left: 12%;
    color: white;
    font-size: 16px;
    font-weight: strong;
    padding: 12px 24px;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.37);
}


.list-main-movie {
  position: absolute;
  top: 435px;
  left: 20%;
  color: white;
  font-size: 16px;
  font-weight: strong;
  padding: 12px 24px;
  border-color: white;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.37);


}


.play-main-movie:hover,
.list-main-movie:hover {
  background-color: white;
  color: black;
}