.main-movie {
  height: 600px;
  display:flex;
  margin-bottom:15px;  
  

}



.main-movie-thumb {
content:url('https://media.giphy.com/media/3CWYA9shrI6oyGMFiK/giphy.gif');
width: 100%;
height: 100%;
background-size: cover;
margin-top: -24px;


}


.pup-fiction-text {
    position: absolute;
    top: 200px;
    left: 150px;
    color: white;
    font-size: 84px;
    padding: 12px 24px;
    
  font-family: 'Abril Fatface';
  
  
}

.a-petflix-original {
position: absolute;
top: 175px;
font-size: 40px;
left: 50px;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

.play-main-movie {
    position: absolute;
    top: 350px;
    left: 170px;
    color: white;
    font-size: 16px;
    font-weight: strong;
    padding: 12px 24px;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.37);
}


.list-main-movie {
  position: absolute;
  top: 350px;
  left: 300px;
  color: white;
  font-size: 16px;
  font-weight: strong;
  padding: 12px 24px;
  border-color: white;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.37);


}


.play-main-movie:hover,
.list-main-movie:hover {
  background-color: white;
  color: black;
}