.navbar {
    display: flex;
    flex-direction: row;
    padding: 15px 0px 10px 10px;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    width: 95%;
    // position: fixed;
}

.navbar-left div {
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   
   transition:.5s;
}

.navbar-left div:hover {
  color: rgb(134, 134, 134);
  cursor: pointer;
}

.navbar-logo {
  content: image_url("petflix-logo1.png");
  width: 104px;
  height: 49px;
  left: 0px;
  cursor: pointer;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  
}


.navbar-profile-pic {
  content: image_url("profile-pic.png");
  width: 35px;
  height: 35px;
  margin-right: 10%;
}

.dropdown-carrot {
  content: image_url("dropdown.png");
  width: 30px;
  height: 30px;
}

.logout-link {
  margin-top:40px;
  position: absolute;
  border-color: white;
}


// ==========================DROPDOWN==================================

.dropdown {
  position: relative;
  display: flex;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/** List Item Styles **/
.dropdown button {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  background: rgb(0, 0, 0);
  color: #ffffff;
  min-width: 100px;
  font-size: 14px;
 
}

/** List Item Hover Styles **/
.dropdown button:hover {
  text-decoration: underline;
  cursor: pointer;
  
}




