input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #ededed00 url(https://s3-us-west-1.amazonaws.com/petflix-public/search-icon.png) no-repeat 9px center;

  border: none;
  padding: 9px 10px 9px 32px;
  width: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  margin-right: 20px;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.308);
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.521);
  -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 0.438);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.479);
  border-color: white;
  
}

input:-moz-placeholder {
  color: rgb(119, 119, 119);
}

input::-webkit-input-placeholder {
  color: rgb(119, 119, 119);
}

.movie-search-results {
  padding:100px;
}

.search-input {
  padding-left: 10px;
}

.row__inner_search {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform,
    450ms -webkit-transform;
  font-size: 0;
  
  margin-top: 39px;
  margin-left: 48px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.row__inner_search:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
  transform: translate3d(-62.5px, 0, 0);
}

.row__inner_search:hover .tile {
  opacity: 0.3;
}

.row__inner_search:hover .tile:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}